<div class="xblockmufi_edit wrapper-comp-settings editor-with-buttons is-active" id="settings-tab">
    <ul class="list-input settings-list">
         <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="mufi_edit_display_name">Display Name</label>
                <input class="input setting-input" id="mufi_edit_display_name" value="{display_name}" type="text">
            </div>
            <span class="tip setting-help">This name appears in the horizontal navigation at the top of the page</span>
        </li>

         <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="mufi_edit_your_answer_label">Label for Student Answer</label>
                <input class="input setting-input" id="mufi_edit_your_answer_label" value="{your_answer_label}" type="text">
            </div>
            <span class="tip setting-help">Label for the text area containing the student's answer</span>
        </li>

         <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="mufi_edit_our_answer_label">Label for Expert Answer</label>
                <input class="input setting-input" id="mufi_edit_our_answer_label" value="{our_answer_label}" type="text">
            </div>
            <span class="tip setting-help">Label for the 'expert' answer</span>
        </li>

        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="mufi_edit_answer_string">The Expert Answer</label>
                <div class="xblockmufi_block">
                    <div class="xblockmufi_block_textarea txtEditor">
                        {% include text_editor_toolbars.html %}
                        <div class="contents" contenteditable="true" id="mufi_edit_answer_string">{answer_string}</div>
                    </div>
                </div>

            </div>
            <span class="tip setting-help">The correct answer for students to compare against.</span>
        </li>
    </ul>

    <div class="xblock-actions">
        <ul>
            <li class="action-item">
                <a href="#" class="button action-primary save-button">Save</a>
            </li>
            <li class="action-item">
                <a href="#" class="button cancel-button">Cancel</a>
            </li>
        </ul>
    </div>
</div>
